$furima: #3CCACE;



.negative {
  display: none;
}

p {
  padding:0 10px;
}
.category-area {
  margin: 15px 0;
  i {
    margin:0 10px;
  }
  .category-container {
    position: relative;
    .gen1s {
      width: 300px;
      position: absolute;
      z-index: 1;
      background-color: white;
      a{
        text-decoration: none;
        .gen1 {
          font-size: 20px;
          height: 55px;
          line-height: 55px;
        }
      }
    }
    .gen2s {
      width: 300px;
      min-height: 920px;
      position: absolute;
      z-index: 1;
      left: 300px;
      background-color: white;
      a{
        text-decoration: none;
        p.gen2 {
          font-size: 18px;
          height: 50px;
          line-height: 50px;
        }
      }
    }
    .gen3s {
      width: 300px;
      min-height: 920px;
      position: absolute;
      z-index: 1;
      left: 600px;
      background-color: white;
      a{
        text-decoration: none;
        p.gen3 {
          font-size: 16px;
          height: 40px;
          line-height: 40px;
        }
      }
    }
  }
}