// 電話番号認証ページ
$black: #000;
$chacoal: #333;
$white: #fff;
$offwhite: #ccc;
$gray: #eee;
$lightgray: #f5f5f5;
$darkgray: #979797;
$facebook: #385185;
$furima: #3CCACE;
$link--blue: #0099e8;

$form-height: 60px;

* {
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

a {
  text-decoration: none;
  color: $black;
}

a:hover {
color: $chacoal;
text-decoration: underline;
opacity: 0.5;
}

a.blue {
  color: $link--blue;
}

p.proviso--bold {
  font-weight: bold;
  font-size: 18px;
  margin-top: 50px;
}

p.proviso {
  font-size: 16px;
  color: $black;
}

button {
  width: 400px;
  height: 60px;
  margin-top: 20px;
  background-color: $furima;
  text-align: center;
  font-size: 16px;
}

.fourth-page {
  display: block;
  position: relative;
  height: 100vh;
  width:100%;
  background-color: $lightgray;
  font-family: 'Source Sans Pro', Helvetica, Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: $chacoal;
  line-height: 1;
  margin: 0 auto;
  &__container {
    padding: 0 0 220px;
    &__header {
      height: 128px;
      display: flex;
      justify-content: center;
      h1 {
        display: block;
        margin: 40px 0 0;
        text-align: center;
        a.fourth-page__header-logo {
          img.header-logo {
            display: inline-block;
            width: 190px;
            height: 50px;
            line-height: 50px;
          }
        }
      }
      nav.step-progress-bar {
        height: 130px;
        width: 450px;
        text-align: center;
        margin: 0;
        ol.progress-bar{
          width: 100%;
          padding: 20px 0 0 45px;
          text-align: center;
          counter-reset: step;
          z-index: 0;
          position: relative;
          li {
            list-style: none;
            width: 33%;
            float: left;
            padding: 0 40px 0 0;
            position: relative;
            text-align: center;
            color: $offwhite;
          }
          // 点
          li:after {
            width: 16px;
            height: 16px;
            font-size: 0px;
            content: counter(step);
            counter-increment: step;
            line-height: 30px;
            display: block;
            text-align: center;
            margin: 10px auto 10px auto;
            border-radius: 50%;
            background-color: $offwhite;
          }
          // 線
          li::before {
            width: 100%;
            height: 1px;
            content: '';
            position: absolute;
            background-color: $offwhite;
            top: 31px;
            left: -70%;
            z-index: -1;
          }
          // 左端をカット
          li:first-child::before {
            content: none;
          }
          li.active {
            color: $furima;
            font-weight: 600;
            width: 34%
          }
          li.active::after {
            background-color: $furima;
            color:#fff;
          }
          li.active::before {
            background-color: $furima;
            color:#fff;
          }
          li.done::after {
            background-color: $furima;
            color:#fff;
          }
          li.done + li::before {
            background-color: $furima;
          }
        }
      }
    }

    &__main {
      margin: 0 auto;
      height: 230px;
      width: 800px;
      background-color: $white;
      &__section {
        &__upper {
          text-align: center;
          font-size: 22px;
          padding: 32px;
          border-bottom: 1px solid $gray;
        }
        &__lower {
          text-align: center;
          height: 100px;
          font-size: 18px;
          line-height: 100px;
        }
      }
    }


    &__footer {
      width: 460px;
      height: 220px;
      margin: 30px auto 0;
      // position: absolute;
      height: 250px;
      padding: 40px 0;
      text-align: center;
      &__nav {
        display: block;
        ul {
          display: flex;
          justify-content: space-between;
          list-style: none;
          li {
            a {
            text-decoration: none;
            color: $black;
            }
            a:hover {
            color: $chacoal;
            text-decoration: underline;
            }
          }
        }
      }
      a.fourth-page-footer-logo {
        display: block;
        width: 200px;
        height: 65px;
        margin: 40px auto 0;
        color: $chacoal;
        text-align: center;
        img.footer-logo {
          display: inline-block;
          width: 150px;
          height: 50px;
          line-height: 50px;
          vertical-align: middle;
        }
      }
    }
  }
}

