// 最初のページ
$black: #000;
$chacoal: #333;
$white: #fff;
$offwhite: #ccc;
$gray: #eee;
$lightgray: #f5f5f5;
$darkgray: #979797;
$facebook: #385185;

* {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

.btn-sns {
  position: relative;
}

a {
  text-decoration: none;
  color: $black;
}

a:hover {
color: $chacoal;
text-decoration: underline;
opacity: 0.5;
}

body {
  position: relative;
  height: 100vh;
  width:100%;
  background-color: $lightgray;
  font-family: 'Source Sans Pro', Helvetica, Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: $chacoal;
  line-height: 1;
  .single-container {
    padding: 0 0 220px;
    header.single-header {
      height: 128px;
      h1 {
        margin: 40px 0 0;
        text-align: center;
        a.single-header-logo {
          img.header-logo {
            display: inline-block;
            width: 190px;
            height: 50px;
            line-height: 50px;
          }
        }
      }
    }

    main.single-main {
      display: block;
      width: 700px;
      margin: 0 auto;
      section.l-single-container {
        background-color: $white;
        h2.l-single-head.registration {
          text-align: center;
          font-size: 22px;
          padding: 32px;
          border-bottom: 1px solid $gray;
        }
        .l-single-inner.registration-form {
          padding: 24px 16px 40px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          .l-single-content {
            max-width: 343px;
            width: 100%;
            a.btn-mail {
              text-decoration: none;
              background-color: $gray;
              color: $black;
              i.far.fa-envelope {
                position: absolute;
                top: 50%;
                left: 16%;
                transform: translate(0, -50%);
                color: $offwhite;
                font-size: 16px;
              }
            }
            a:hover {
              opacity: 0.7;
            }
            button.btn-sns-facebook {
              margin: 16px 0 0;
              background-color: $facebook;
              color: $white;
            }
            button.btn-sns-google {
              margin: 16px 0 0;
              background-color: $white;
              border: 1px solid $darkgray;
              color: $chacoal;
            }
          }
        }
      }
    }

    footer.single-footer {
      width: 460px;
      height: 220px;
      margin: 0 auto;
      position: absolute;
      right: 0;
      bottom: 3vh;
      left: 0;
      height: 250px;
      padding: 40px 0;
      text-align: center;
      nav {
        display: block;
        ul {
          display: flex;
          justify-content: space-between;
          list-style: none;
        }
      }
      a.single-footer-logo {
        display: block;
        width: 200px;
        height: 65px;
        margin: 40px auto 0;
        color: $chacoal;
        text-align: center;
        img.footer-logo {
          display: inline-block;
          width: 150px;
          height: 50px;
          line-height: 50px;
          vertical-align: middle;
        }
      }
    }
  }
}