@import "font-awesome-sprockets";
@import "font-awesome";
@import "card_new";
@import "card_pay";
@import "products_index";
@import "products_new";
@import "products_show";
@import "products_buy";
@import "users_index";
@import "user_sign_in";
@import "select";
@import "registration";
@import "telephone";
@import "authenticate";
@import "result";
@import "category";
@import "category-selector";
@import "brand";

body{
  padding-top: 102px;
}

.breadcrumbs{
  margin: 8px;
  padding: 8px;
  font-size: 14px;
  display: inline-block;
  a{
    color: #333;
  }
}

.new-product-btn{
  z-index: 11;
  position: fixed;
  bottom: 30px;
  right:30px;
  background-color: #3CCACE;
  display: inline-block;
  height: 140px;
  width: 140px;
  border-radius: 140px;
  padding-top: 10px;
  color: #fff;
  font-weight: bold;
  background-image: image_url("icon_camera.png");
  background-size: 80px;
  text-align: center;
  background-position: center center;
}