@import "font-awesome-sprockets";
@import "font-awesome";
@import "card_new";
@import "card_pay";
@import "products_index";
@import "products_new";
@import "products_show";
@import "products_buy";
@import "users_index";
@import "user_sign_in";
@import "select";
@import "registration";
@import "telephone";
@import "authenticate";
@import "result";

body{
  padding-left: 20px;
}

label{
  display: inline-block;
  width: 100px;
  padding-bottom: 6px;
}