.header__inner__nav {
  border-bottom: 1px solid #3CCACE;
}
* {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

.main-mypage2 {
   background: rgb(245, 245, 245);
   margin: 40px auto 0;
   width: 1020px;
  &__container {
    padding-top: 40px;
    padding-left : 40px;
    width: 100%;
    height: 150vh;
    
    &__content {
      float: right;
      width: 620px;
      margin-right: 40px;
      &__icon {
        height: 250px;
        background: #fff;
        text-align: center;
        h2 {
          font-size: 20px;
          padding-top: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid #3CCACE;
        }
      }
    }
    &__side {
      width: 280px;
      margin: 0 40px 0 0;

        &__nav {
        font-size: 18px;
        background-color: #fff;
        color: rgb(51, 51, 51);
          &__list {
            margin-bottom: 5px;
            border-bottom:1px solid rgb(245, 245, 245);
            padding-left: 30px;
            height: 48px;
            width: 280px;
            padding-top: 10px;
          }
          
        &__setting {
          font-size: 18px;
          background-color: #fff;
          color: rgb(51, 51, 51);
          &__list {
            margin-bottom: 5px;
            border-bottom:1px solid rgb(245, 245, 245);
            padding-left: 30px;
            height: 48px;
            width: 280px;
            padding-top: 10px;
          }
        }  
      }  
    }
  }
}