* {
  box-sizing: border-box;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  background-color:#F5F5F5 ;
  overflow: scroll;
  .new-header{
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 200px;
      height: 50px;
      text-align: center;
    }
  }
  .new-main{
    width: 700px;
    height: 100vh;
    margin: 0 auto;
    background-color: white;
    padding: 40px 0 ;
    .image-wrappers{
      display: flex;
      justify-content: center;
    }
    #image-wrapper{
      overflow: scroll;
      display: flex;
      padding-right: 10px;
      .image-content{
        position: relative;
        .image-delete{
          position: absolute;
          top: -166px;
          right: 2px;
        }
        .file-field{
          display: none;
        }
      }
      #previews{
        color: red;
        display: inline-block;
        .preview-image{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 120px;
          height: 170px;
          background-color: #f5f5f5;
          border: dashed 1px #cccccc;
          img{
            height: auto;
            width: auto;
            max-width: 120px;
            max-height: 170px;
          }
        }
      }
    }
    .image-wrapper{
      padding-bottom: 40px;
      border-bottom: 1px solid #cccccc;
      &__label{
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 10px;
        padding: 0 30px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          padding: 3px;
          background-color:red;
        }
      }
    
      &__text{
        opacity: 0.8;
        font-size: 12px;
        margin-bottom: 15px;
        padding: 0 30px;
      }
      &__image{
        // height: 170px;
        // width: 600px;
        // background-color: #F5F5F5;
        padding-left: 40px;
        // border: dashed 1px #cccccc;
        // text-align: center;
        // position: relative;
        .post__drop__box__container{
          position: relative;
          // display: block;
          // margin: auto 0;
          display: flex;
          flex-wrap: wrap;
        
          //プレビュー表示欄のCSS
          .prev-content {
            display: flex;
            .preview-box {
              height: 162px;
              width: 112px;
              margin: 0 15px 10px 0;
              .upper-box {
                height: 112px;
                width: 100%;
                img{
                  width: 112px;
                  height: 112px;
                }
              }
              .lower-box {
                display: flex;
                text-align: center;
                .update-box {
                  color: #00b0ff;
                  width: 50%;
                  height: 50px;
                  line-height: 50px;
                  border: 1px solid #eee;
                  background: #f5f5f5;
                  cursor: pointer;
                }
                .delete-box {
                  color: #00b0ff;
                  width: 50%;
                  height: 50px;
                  line-height: 50px;
                  border: 1px solid #eee;
                  background: #f5f5f5;
                  cursor: pointer;
                }
              }
            }
          }
        
          //投稿クリックエリアのCSS
          .label-content{
            margin-bottom: 10px;
            width: 620px;
            
              .label-box {
                display: block;
                border: 1px dashed #ccc;
                position: relative;
                background: #f5f5f5;
                width: 100%;
                height: 162px;
                cursor: pointer;
                
              &__text-visible {
                  position: absolute;
                  top: 50%;
                  left: 16px;
                  right: 16px;
                  text-align: center;
                  font-size: 14px;
                  line-height: 1.5;
                  font-weight: bold;
                  -webkit-transform: translate(0, -50%);
                  transform: translate(0, -50%);
                  pointer-events: none;
                  white-space: pre-wrap;
                  word-wrap: break-word;
                }
            }
          }
          .hidden-content {
            .hidden-field {
              display: none;
            }
            .hidden-checkbox {
              display: none;
            }
          }
        }






      }
    }

    .item-wrapper{
      padding-bottom: 20px;
      border-bottom: 1px solid #cccccc;
      &__name{
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 10px 0;
        padding: 0 30px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          padding: 3px;
          background-color:red;
        }
      }
      &__form{
        margin:0 0px 20px 50px ;
        width: 600px;
        height: 40px;

      }
      &__description{
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 10px 0;
        padding: 0 30px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          padding: 3px;
          background-color:red;
        }
      }
      &__area{
        margin: 0 0 10px 50px;
        width: 600px;
      }
      &__counter{
        font-size: 10px;
        text-align: right;
        margin-right: 30px ;
        opacity: 0.8;
      }
    }
    .item-detail{
      padding-bottom: 20px;
      border-bottom: 1px solid #cccccc;
      background-color: white;
      &__name{
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 10px 0;
        padding: 0 30px;
        opacity: 0.5;
      }
      &__brand{
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 10px 0;
        padding: 0 30px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          padding: 3px;
          background-color:#cccccc;
        }
      }
      &__form{
        margin: 10px 50px;
        width: 600px;
        height: 50px;
      }
      &__status{
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 10px 0;
        padding: 0 30px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          padding: 3px;
          background-color:red;
        }
      }      
    }

    .item-cost{
      padding-bottom: 20px;
      border-bottom: 1px solid #cccccc;
      background-color: white;
      &__about{
        opacity: 0.5;
        padding: 25px 0 0 25px;
      }
      &__name{
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 10px 25px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          padding: 3px;
          background-color:red;
        }
      }
      &__burden{
        margin: 10px 50px;
        width: 600px;
        height: 50px;
      }
      &__area{
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 10px 25px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          padding: 3px;
          background-color:red;
        }
      
          &__form{
          margin: 10px 50px;
          width: 600px;
          height: 50px;
        }
      }
      &__days{
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 10px 25px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          padding: 3px;
          background-color:red;
        }
      }
      &__select{
        margin: 10px 50px;
        width: 600px;
        height: 50px;
      }
    }

    .item-price{
      padding-bottom: 20px;
      background-color: white;
      &__about{
        opacity: 0.5;
        padding: 25px 0 0 25px;
        font-size: 12px;
      }
      &__name{
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 10px 25px;
        position: relative;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          padding: 3px;
          background-color:red;
        }
        &__mark{
          margin-left: 200px ;
          position: absolute ;
          top: 10px;
        }
        &__form{
          text-align:right;
          float: right;
          margin-right: 50px;
          width: 300px;
          height: 40px;
        }
      }
      &__commission{
        font-size: 15px;
        margin: 40px 0 10px 25px;
        opacity: 0.8;
        border-bottom: 1px solid #cccccc;
        &__value{
          float: right;
          margin-right: 50px;
        }
    }
      &__profit{
        font-size: 15px;
        margin: 20px 0 10px 25px;
        &__value{
          float: right;
          margin-right: 50px;
        }
        .item-price__profit__value__price {
          float: right;
          margin-right: 50px;
          font-weight: bold;
        }
      }
    }

    .item-exhibition{
      padding-bottom: 20px;
      border-bottom: 1px solid #cccccc;
      background-color: white;
      text-align: center;
      &__btn{
        height: 60px;
        width: 300px;
        font-size: 20px;
        border-radius: 5px;
        background-color:red;
        color: white;
        &:hover{
          opacity: 0.8;
        }
      }
      &__back{
        display: block;
        margin: 20px 0;
        color: blue;
        a{
          text-decoration:none;
        }
        &:hover{
          opacity: 0.5;
        }
      }
      &__text{
        font-size: 9px;
        opacity: 0.8;
      }
    }
  }
  .item-footer{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    li{
      float: left;
      margin:50px 0 0 20px ;
      opacity: 0.5;
      font-size: 12px;
      display: block;
    }
  }
  .item-logo{
    text-align: center;
    img{
      width: 200px;
      height: 50px;
      margin: 0 auto;
    }
  } 
}