* {
  box-sizing: border-box;
}

.wrapper{
  width: 100vw;
  height: 100vh;
  background-color:#EEEEEE ;
  overflow: scroll;
  .new-header{
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 200px;
      height: 50px;
      text-align: center;
    }
  }
  .new-main{
    width: 700px;
    height: 100vh;
    margin: 0 auto;
    background-color: white;
    padding: 40px 0 ;
    .image-wrapper{
      padding-bottom: 40px;
      border-bottom: 1px solid #cccccc;
      &__label{
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 10px;
        padding: 0 30px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:red;
        }
      }
    
      &__text{
        opacity: 0.8;
        font-size: 12px;
        margin-bottom: 15px;
        padding: 0 30px;
      }
      &__image{
        height: 170px;
        width: 600px;
        background-color: #EEEEEE;
        margin: 0 auto;
        border: dashed 1px #cccccc;
        text-align: center;
        position: relative;
        &__file {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          cursor: pointer;
          opacity: 0;
        }
        img{
          position: absolute;
          margin-top: 50px;
          width: 20px;
          height: 20px;
        }
        i {
          padding: 5px;
          margin-top: 50px ;
          opacity: 0.5;     
        }
        &__content{
          position: absolute;
          width: 100%;
          padding-top: 80px;
          align-items: center;
          font-size: 12px;
          opacity: 0.8;
          margin-top: 5px;
        }
      }
    }

    .item-wrapper{
      padding-bottom: 20px;
      border-bottom: 1px solid #cccccc;
      &__name{
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 10px 0;
        padding: 0 30px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:red;
        }
      }
      &__form{
        margin:0 0px 20px 50px;
        width: 600px;
        height: 40px;

      }
      &__description{
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 10px 0;
        padding: 0 30px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:red;
        }
      }
      &__area{
        margin: 0 0 10px 50px;
        width: 600px;
      }
      &__counter{
        font-size: 10px;
        text-align: right;
        margin-right: 30px ;
        opacity: 0.8;
      }
    }
    .item-detail{
      padding-bottom: 20px;
      border-bottom: 1px solid #cccccc;
      background-color: white;
      &__name{
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 10px 0;
        padding: 0 30px;
        opacity: 0.5;
      }
      &__category{
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 10px 0;
        padding: 0 30px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:red;
        }
      }
      &__select{
        margin: 20px 50px;
        width: 600px;
        height: 50px;
      }
      &__brand{
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 10px 0;
        padding: 0 30px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:#cccccc;
        }
      }
      &__form{
        margin: 10px 50px;
        width: 600px;
        height: 50px;
      }
      &__status{
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 10px 0;
        padding: 0 30px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:red;
        }
      }      
    }

    .item-cost{
      padding-bottom: 20px;
      border-bottom: 1px solid #cccccc;
      background-color: white;
      &__about{
        opacity: 0.5;
        padding: 25px 0 0 25px;
      }
      &__name{
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 10px 25px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:red;
        }
      }
      &__burden{
        margin: 10px 50px;
        width: 600px;
        height: 50px;
      }
      &__area{
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 10px 25px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:red;
        }
      
          &__form{
          margin: 10px 50px;
          width: 600px;
          height: 50px;
        }
      }
      &__days{
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 10px 25px;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:red;
        }
      }
      &__select{
        margin: 10px 50px;
        width: 600px;
        height: 50px;
      }
    }

    .item-price{
      padding-bottom: 20px;
      background-color: white;
      &__about{
        opacity: 0.5;
        padding: 25px 0 0 25px;
        font-size: 12px;
      }
      &__name{
        font-weight: bold;
        font-size: 15px;
        margin: 20px 0 10px 25px;
        position: relative;
        &__tag{
          color: white;
          font-size: 12px;
          font-weight: lighter;
          border-radius: 5px;
          width: 4px;
          height: 4px;
          padding: 3px;
          background-color:red;
        }
        &__mark{
          margin-left: 200px ;
          position: absolute ;
          top: 10px;
        }
        &__form{
          text-align:right;
          float: right;
          margin-right: 50px;
          width: 300px;
          height: 40px;
        }
      }
      &__commission{
        font-size: 15px;
        margin: 40px 0 10px 25px;
        opacity: 0.8;
        border-bottom: 1px solid #cccccc;
        &__value{
          float: right;
          margin-right: 50px;
        }
    }
      &__profit{
        font-size: 15px;
        margin: 20px 0 10px 25px;
        &__value{
          float: right;
          margin-right: 50px;
        }
      }
    }

    .item-exhibition{
      padding-bottom: 20px;
      border-bottom: 1px solid #cccccc;
      background-color: white;
      text-align: center;
      &__btn{
        height: 60px;
        width: 300px;
        font-size: 20px;
        border-radius: 5px;
        background-color:red;
        color: white;
        &:hover{
          opacity: 0.8;
        }
      }
      &__back{
        display: block;
        margin: 20px 0;
        color: blue;
        a{
          text-decoration:none;
        }
        &:hover{
          opacity: 0.5;
        }
      }
      &__text{
        font-size: 9px;
        opacity: 0.8;
      }
    }
  }
  .item-footer{
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    li{
      float: left;
      margin:50px 0 0 20px ;
      opacity: 0.5;
      font-size: 12px;
      display: block;
    }
  }
  .item-logo{
    text-align: center;
    img{
      width: 200px;
      height: 50px;
      margin: 0 auto;
    }
  } 
}