.wrapper{
  display: flex;
  flex-direction: column;
  &__content-title{
    &:hover{
      color:#000;
      background-color: #aaa;
      cursor: pointer;
    }
    color: #555;
    display: inline-block;
    width: 400px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    margin-bottom: 2px;
    background-color: #ddd;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  }
}