.header__inner__nav {
  border-bottom: 1px solid #3CCACE;
}
* {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
}

.main-mypage {
   background: #EEE;
  &__container {
    display: flex;
    margin: 0 auto;
    flex-direction: row-reverse;
    justify-content: space-around;
    &__content {
      position: absolute;
      width: 65%;
      right: 40px;
      &__card {
        padding: 40px 40px 64px;
        margin: 0;
        background: #fff;
        width: 620px;
        height: 600px;
        .signup__card--list {
          display: flex;
          list-style: none;
          margin-left: 140px;
        }
        h3 {
          padding-top: 20px;
          padding-bottom: 10px;
          
        }
        span {
          background-color: red;
          color :#fff;
          border-top-right-radius: 8px;   /* 右上だけの角丸半径 */
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px; /* 左下だけの角丸半径 */
          border-bottom-right-radius :8px;
          border: 1px solid orange;   /* 枠線の装飾 */
          padding: 4px;               /* 内側の余白 */
          font-size: 12px;
          margin-left: 20px;

        }
        #number {
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 50%;
          margin: 8px 0 0;
        }
        #cvc {
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 50%;
          margin: 8px 0 0;
        }
        #exp_year {
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 25%;
          margin: 8px 0 0;
        }
        #exp_month {
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
          width: 25%;
          margin: 8px 0 0;
        }
        h4 {
          padding-top: 50px;
          border-bottom: 1px solid #3CCACE;
        }
        p {
          color: #3CCACE;
          font-size: 12px;
          margin-left: 150px;
        }
        .button {
          background-color: #3CCACE;
          color: white;
          width: 50%;
          height: 48px;
          margin-top: 50px;
        } 
      }
      &__icon {
        height: 250px;
        background: image_url("icon-back.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        text-align: center;
        img {
          margin-top: 20px;
          border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
        }
      }
      &__function {
        margin: 0;
        background: #fff;
        height: 460px;
          .tabs {
            font-size: 20px;
            padding-top: 20px;
            font-weight: bold;
            height: 74px;
            text-align: center;
            border-bottom:1px solid #3CCACE;
            list-style: none;
            margin-block-end:0px;
            li {
              display: inline-block;
              margin-right: 80px;
              margin-left: 80px;
            }
          }
        &__tag {
          .tab-content {
            list-style: none;
            padding-inline-start:0px ;
            margin-block-end:0px ;
            margin-block-start: 0px;
            li {
              border-bottom:1px solid rgb(245, 245, 245);
              font-size: 15px;
              padding-top: 20px;
              padding-bottom: 20px;
            }
          }
        }
        &__btn {
          text-align: center;
          h3 {
            width: 560px;
            background: rgb(245, 245, 245);
            margin-left: 30px;
          }
        }
      }
      &__contineres {
        background: #fff;
        font-size: 20px;
        margin-top: 20px;
        font-weight: bold;
        height: 470px;
        text-align: center;
        h3 {
          padding-top: 20px;
          padding-bottom: 20px;
          border-bottom:1px solid #3CCACE;
        }
        .buy-tab {
          padding-inline-start: 0px;
          li {
            margin-right: 80px;
            margin-left: 80px;
            display: inline-block;

          }
        }
      }
    }
    &__side {
      width: 25%;
      position: absolute;
      left: 20px;
      h3{
        margin: 30px 0 10px 0;
      }
      &__nav {
        font-size: 14px;
        background-color: #fff;
        color: #333;
        &__list {
          &:hover{
            background-color: #F0F0F0;
          }
          cursor: pointer;
          height: 48px;
          line-height: 48px;
          padding-left: 10px;
          padding-bottom: 5px;
          border-bottom: 1px solid #EEE;
        }
      }  
    }
  }
}

  

