* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #f5f5f5;
}

.menu {
  height: 100vh;
  &__header{
    height: 128px;
    background-color:#f5f5f5;
    text-align: center;
    img {
      height: 50px;
      margin-top: 40px;
    }
  }
  &__main {
    &__box {
      max-width: 456px;
      background-color: white;
      margin: auto;
      &__account {
        padding: 40px 64px;
        text-align: center;
        font-size: 14px;
        .btn {
          height: 50px;
          border: 1px solid #00BCD4;
          background-color: #00BCD4;
          padding: 15px;
          display: inline-block;
          width: 326px;
        }
        a {
          color: white;
          line-height: 20px;
        }
      }
      &__in {
        padding: 40px 64px;
        border-top: 1px solid #eeeeee;
        &__area {
          background-color: #385185;
          color: white;
          &__btn {
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            text-align: center;
          }
        }
        &__under {
          margin: 16px 0 0;
          background-color: white;
          &__btn {
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            text-align: center;
            border: #979797 solid 1px;
          }
        }
      }
      &__form {
        &__in {
          padding: 24px 32px;
          border: 0;
          &__group {
            margin: 0 auto;
            height: 48px;
            padding: 0 30px 8px;
            border-radius: 4px;
            line-height: 1,5;
            font-size: 16px;
            margin-top: 24px;
            .login-input-text {
              width: 326px;
              height: 48px;
              padding: 10px;
            }
          }
          .btn-default {
            background-color: #3ccace;
            color: white;
            font-size: 14px;
            width: 326px;
            height: 50px;
          }
          .menu__main__box__form__in__group__last {
            margin: 32px;
            font-size: 12px;
            a {
              color: black;
            }
          }
        }
      }
    }
  }
  .footer {
    padding: 40px;
    text-align: center;
    &__hight{
      &__line {
        font-size: 10px;
        a {
          color: black;
        }
        &__two {
          display: inline-block;
          margin-left: 16px;
        }
        &__three {
          display: inline-block;
          margin-left: 16px;
        }
      }
      &__body {
        margin-top: 40px;
        img {
          height: 50px;
        }
      }
    }
  }
}
