.category-container
  .gen1s.negative
    - @gen1s.each.with_index(1) do |gen1, i|
      %p.gen1.negative{class: "gen1_#{i}"}
        = gen1.name

  -# 添字nのgen1直下のレコード(=子レコード)を順番に取り出す
  .gen2s.negative
    - @gen2s.each.with_index(1) do |gen2s, i|
      -# 配列内配列から取り出された要素単位で動的命名
      - gen2s.each do |gen2|
        %p.gen2.negative{class: "gen1_#{i}_children"}
          = gen2.name

