= render "/layouts/header"
- breadcrumb :product_show_pay
= breadcrumbs separator: " &rsaquo; "

.detail-wrapper
  .detail-wrapper__main
    .detail-wrapper__main__contents
      .detail-wrapper__main__contents__product-name
        %h2
          購入が完了しました
          %br
          = link_to root_path do
            %br トップページに戻る