.detail-wrapper
  .detail-wrapper__main
    .detail-wrapper__main__contents
      .detail-wrapper__main__contents__product-name
        %h2
          商品の編集が完了しました
          %br
          = link_to product_path do
            %br 商品詳細ページに戻る